.portfolio-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.search-box {
    margin-bottom: 10px;
}

.search-box input {
    padding: 8px;
    margin-right: 5px;
}

.input-box button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.input-box button:hover {
    background-color: #45a049;
}

.portfolio-container ul {
    list-style-type: none;
    padding: 0;
}

.portfolio-container li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.pagination button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}


.portfolio table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.portfolio th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.portfolio th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.portfolio tr:nth-child(even) {
    background-color: #f9f9f9;
}

.portfolio a {
    text-decoration: none;
    color: #007bff;
}

.portfolio-detail-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: transform 0.3s ease;
    transform: translateX(100%); /* 초기에는 오른쪽 밖에 위치 */
}

.portfolio-detail-overlay.visible {
    transform: translateX(0); /* visible 클래스가 추가되면 화면에 등장 */
}